
.base {
    height: 60px;
}

.base:nth-child(2n+1) {
    background-color: aliceblue;
}

.base:hover {
    color: #ffffff;
    background-color: #0078d7;
}


.itemText {
    font-size: 12px;
    line-height: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 30px;
    padding: 10px 0 4px 24px;
}