
.container {
    display: grid;
    height: 100%;
}

.bottom {
    align-self: end;
    height: 54px;
    display: flex;
    justify-content: flex-end;
}

.bottom > button {
    margin: 14px 14px 14px 0;
}
