.main {
    height: 24px;
    width: 24px;
    border: none;
    padding: 0;
    background-image: url("../resources/images/run.png");
    image-rendering: pixelated;
}

.main:hover {
    background-color: #dfdfdf;
}