.main {
    height: 28px;
    width: 100%;
    background-color: #f0f0f0;
    border-bottom: #c9c9c9 1px solid;;
    display: flex;
}

.item {
    line-height: 28px;
    padding: 0 8px;
    cursor: default;
    user-select: none;
}

.item:hover {
    background-color: #dfdfdf;
}