.main {
    min-height: 26px;
    height: 26px;
    min-width: 88px;
    display: inline-block;
    outline: none;
    padding: 4px 8px;
    text-decoration: none;
    color: #000000;
    background-color: #e1e1e1;
    transition: background-color 0.4s ease 0s;
    vertical-align: top;
}

.normal {
    border: solid 0.5px #adadad;
}

.normal:hover {
    border-color: #0078d7;
    background-color: var(--main-button-background-color-hover);
}

.primitive {
    border: solid 1.5px #0078ff;
}

.primitive:hover {
    border-width: 1px;
    border-color: #0078d7;
    background-color: var(--main-button-background-color-hover);
}

.normal_size {

}

.large_size {
    min-height: 40px;
    padding: 12px 8px;
}

.full_width {
    width: 100%;
}

.small_width {
    min-width: 26px;
    width: 26px;
    padding-left: 6px;
}